<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Web site</title>
    </head>
    <body>
        {{>header}}
        <p>{{screamIt welcomeMessage}}</p>
        {{>footer}}
    </body>
</html>