<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Web site</title>
    </head>
    <body>
       <h1>We will be right back!!</h1>
        <p>Site is under maintenance</p>
        {{>footer}}
    </body>
</html>